<section style="background-image: url('/images/bg_home.jpeg'); min-height: 600px; background-size: cover;">
  <div class="container">
    <div class="row text-center text-white p-2 m-2">
      <h2>Welcome To</h2>
      <h1>Placement Cell</h1>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-4">
        <div class="card shadow" style="width: 18rem;">
          <img src="/images/students.png" class="card-img-top" alt="students" style="height: 180px; width: inherit;">
          <div class="card-body">
            <h5 class="card-title"><i class='fas fa-user-graduate'></i> Students List</h5>
            <p class="card-text">List of all the registered student to Coding Ninjas.</p>
            <div class="text-center">
              <a href="/students/list" class="btn btn-success">Students</a>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card shadow" style="width: 18rem;">
          <img src="/images/interview6.jpg" class="card-img-top" alt="interview image"
            style="height: 180px; width: inherit;">
          <div class="card-body">
            <h5 class="card-title"><i class="fa-solid fa-user"></i> Interviews</h5>
            <p class="card-text">Find all the availabale interviews here.</p>
            <div class="text-center">
            <a href="/interviews/list" class="btn btn-success">Interviews</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card shadow" style="width: 18rem;">
          <img src="/images/details8.png" class="card-img-top" alt="database image" style="height: 180px; width: inherit;">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-file-download"></i> Download Details</h5>
            <p class="card-text">Download students detail with the interviews list and result.</p>
            <div class="text-center">
            <a href="/students/data" class="btn btn-success">Download</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>